In [1]:
with open('http.txt','r') as f:
    proxies = f.read().splitlines()

In [3]:
len(proxies)

37901

In [5]:
import numpy as np
'http://'+np.random.choice(proxies)

'http://104.16.217.155:80'

In [4]:
x=2

In [6]:
try:
    if x==2:
        raise Exception('x is 2')
    print("x is not 2")
except Exception as e:
    print(f"Exception: {e}")

Exception: x is 2

In [1]:
from bs4 import BeautifulSoup
import asyncio
from multiprocessing import Process, current_process
from aiohttp import ClientSession, ClientTimeout

In [2]:
import requests

http_response = requests.get("https://myanimelist.net/anime/16498/Shingeki_no_Kyojin")

In [4]:
soup = BeautifulSoup(http_response.text, 'html.parser')

In [9]:
aa = soup.find('p',attrs={'itemprop':'description'})
aa.text

'Centuries ago, mankind was slaughtered to near extinction by monstrous humanoid creatures called Titans, forcing humans to hide in fear behind enormous concentric walls. What makes these giants truly terrifying is that their taste for human flesh is not born out of hunger but what appears to be out of pleasure. To ensure their survival, the remnants of humanity began living within defensive barriers, resulting in one hundred years without a single titan encounter. However, that fragile calm is soon shattered when a colossal Titan manages to breach the supposedly impregnable outer wall, reigniting the fight for survival against the man-eating abominations.\n\r\nAfter witnessing a horrific personal loss at the hands of the invading creatures, Eren Yeager dedicates his life to their eradication by enlisting into the Survey Corps, an elite military unit that combats the merciless humanoids outside the protection of the walls. Eren, his adopted sister Mikasa Ackerman, and his childhood friend Armin Arlert join the brutal war against the Titans and race to discover a way of defeating them before the last walls are breached.\n\r\n[Written by MAL Rewrite]'

In [28]:
import pandas as pd
a = pd.DataFrame({'a':[1,2,3,4],'b':[4,5,6,7]})
b = pd.DataFrame({'c':[1,2],'d':[4,5]})

In [30]:
c=pd.concat([a,b],axis=1)

In [49]:
df = pd.read_csv('all_anime_urls copy.csv',chunksize=5)
counter = 0
store = []
for i in df:    
    store.append(i)
    counter += 1
    if counter == 5:
        break

In [50]:
store[1]

                                                 url
5  https://myanimelist.net/anime/1892/YAT_Anshin_...
6  https://myanimelist.net/anime/31173/Akagami_no...
7  https://myanimelist.net/anime/43239/Xiao_Fa_Mi...
8  https://myanimelist.net/anime/6641/Tonari_no_8...
9  https://myanimelist.net/anime/8935/Nekketsu_Uc...

In [56]:
store[1].loc[[6,7],['blas','ble']] = [[1,2],[3,4]]

In [68]:
a = pd.DataFrame([{'a':1,'b':2},{'b':4}])
b = pd.DataFrame([{'b':9},{'b':14}])

In [69]:
a

     a  b
0  1.0  2
1  NaN  4

In [71]:
a.loc[a.index,b.columns] = b.values

In [72]:
a

     a   b
0  1.0   9
1  NaN  14

In [57]:
store[1]

                                                 url  blas  ble
5  https://myanimelist.net/anime/1892/YAT_Anshin_...   NaN  NaN
6  https://myanimelist.net/anime/31173/Akagami_no...   1.0  2.0
7  https://myanimelist.net/anime/43239/Xiao_Fa_Mi...   3.0  4.0
8  https://myanimelist.net/anime/6641/Tonari_no_8...   NaN  NaN
9  https://myanimelist.net/anime/8935/Nekketsu_Uc...   NaN  NaN

In [48]:
store[1]['url']

5    https://myanimelist.net/anime/1892/YAT_Anshin_...
6    https://myanimelist.net/anime/31173/Akagami_no...
7    https://myanimelist.net/anime/43239/Xiao_Fa_Mi...
8    https://myanimelist.net/anime/6641/Tonari_no_8...
9    https://myanimelist.net/anime/8935/Nekketsu_Uc...
Name: url, dtype: object

In [45]:
df

In [44]:
df[0].loc[1000]

TypeError: 'TextFileReader' object is not subscriptable

In [ ]:
d = pd.DataFrame()

In [ ]:
for i in

In [17]:
a.concat(b)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [13]:
aa = soup.find_all('div',attrs={'class':'spaceit_pad'})
[' '.join(i.text.strip().split()) for i in aa]

['Synonyms: AoT, SnK',
 'Japanese: 進撃の巨人',
 'English: Attack on Titan',
 'German: Attack on Titan',
 'Spanish: Ataque a los Titanes',
 "French: L'Attaque des Titans",
 'Type: TV',
 'Episodes: 25',
 'Status: Finished Airing',
 'Aired: Apr 7, 2013 to Sep 29, 2013',
 'Premiered: Spring 2013',
 'Broadcast: Sundays at 01:58 (JST)',
 'Producers: Production I.G, Dentsu, Mainichi Broadcasting System, Pony Canyon, Kodansha, Pony Canyon Enterprises',
 'Licensors: Funimation',
 'Studios: Wit Studio',
 'Source: Manga',
 'Genres: ActionAction, Award WinningAward Winning, DramaDrama, SuspenseSuspense',
 'Themes: GoreGore, MilitaryMilitary, SurvivalSurvival',
 'Demographic: ShounenShounen',
 'Duration: 24 min. per ep.',
 'Rating: R - 17+ (violence & profanity)',
 'Score: 8.561 (scored by 29639902,963,990 users) 1 indicates a weighted score.',
 "Ranked: #1142 2 based on the top anime page. Please note that 'Not yet aired' and 'R18+' titles are excluded.",
 'Popularity: #1',
 'Members: 4,206,545',
 'Favorites: 182,124',
 'Main',
 'Main',
 'Main',
 'Supporting',
 'Supporting',
 'Supporting',
 'Supporting',
 'Supporting',
 'Supporting',
 'Supporting',
 'Producer',
 'Producer',
 'Producer',
 'Producer']

In [2]:
async def fetch_urls(url,session,a_set_storage,failed_ones):
    
    try:
        async with session.get(url, timeout=ClientTimeout(total=10)) as response:
            if response.status != 200:
                raise Exception(response.status,"Something went wrong")
            html_response = await response.text()
            soup =  BeautifulSoup(html_response, 'html.parser')
            a_set_storage.update(i.get('href') for i in soup.find_all('a',attrs={'class':'hoverinfo_trigger'}))
    except Exception as e:
        print(e)
        failed_ones.update([url])

In [ ]:
async def process_batch(start,end, a_set_storage,failed_ones):
    async with ClientSession() as session:
        tasks = [fetch_urls(f'https://myanimelist.net/topanime.php?type=bypopularity&limit={no}',
                            session,a_set_storage,failed_ones) 
                 for no in range(start,end,50)]
        return await asyncio.gather(*tasks)

In [4]:
all_anime_urls = set()
failed_ones = set()

for i in zip(range(0,28701,2500),range(2500,28701,2500)):
    print(i)
    asyncio.run(process_batch(i[0],i[1],all_anime_urls,failed_ones))

(0, 2500)

RuntimeError: asyncio.run() cannot be called from a running event loop

(0, 2500)
(2500, 5000)
(5000, 7500)
(7500, 10000)
(10000, 12500)
(12500, 15000)
(15000, 17500)
(17500, 20000)
(20000, 22500)
(22500, 25000)
(25000, 27500)

In [5]:
28701-27500

1201

In [7]:
1200/50

24.0

28701

In [8]:
import pandas as pd
pd.DataFrame({1,2,3},columns=['a'])

   a
0  1
1  2
2  3

In [ ]:


# Simulate async I/O-bound task
async def fetch_url(url):
    delay = random.uniform(0.5, 2.0)
    await asyncio.sleep(delay)  # Simulate network delay
    print(f"[{current_process().name}] Fetched {url} in {delay:.2f} sec")
    return f"{url} content"

# Run async tasks in a process
def process_task(urls):
    async def main():
        tasks = [fetch_url(url) for url in urls]
        await asyncio.gather(*tasks)

    asyncio.run(main())

# URLs for each process
url_batches = [
    [f"https://example.com/page{i}" for i in range(5)],
    [f"https://example.org/data{i}" for i in range(5)],
]

if __name__ == "__main__":
    start = time.time()

    processes = []
    for urls in url_batches:
        p = Process(target=process_task, args=(urls,))
        processes.append(p)
        p.start()

    for p in processes:
        p.join()

    print(f"\nTotal time: {time.time() - start:.2f} seconds")

In [4]:
a={1,2}
a.update([3])

In [5]:
a

{1, 2, 3}

In [64]:
def x(a_list):
    a_list.update([1,2,3])

a={67}
x(a)
a

{1, 2, 3, 67}

In [62]:
a+[1,2]

[67, [1, 2, 3], 1, 2]

In [53]:
anime_urls = list_popular_anime()

117800

In [54]:
len(anime_urls)

7148

In [55]:
soup = get_soup('https://myanimelist.net/topanime.php?type=bypopularity&limit=7300')

In [56]:
sdsdsd = [i.get('href') for i in soup.find_all('a',attrs={'class':'hoverinfo_trigger'})]

In [58]:
for i in sdsdsd:
    if i in anime_urls:
        print(True)
    else:
        print(False)

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [49]:
asas=get_soup('https://myanimelist.net/topanime.php?type=bypopularity&limit=5000000')

In [50]:
asas = asas.find_all('a',attrs={'class':'hoverinfo_trigger'})

AttributeError: 'NoneType' object has no attribute 'find_all'

In [47]:
len(set([i.get('href') for i in asas]))

50

In [ ]:
set.update()

In [48]:
a={1,2}
a.update([3,4,2])
a

{1, 2, 3, 4}

In [21]:
[i.href for i in soup.find_all('a',attrs={'class':'hoverinfo_trigger'}) if i.text != '\n\n']

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]